{% extends "base.html" %}
{% block contenido %}
{% if TESTING %}<div data-test_info="La Plantilla fue renderizada correctamente: cacao_accounting/inventario/templates/inventario/entrada_nuevo.html"></div>{% endif %}
{% import "macros.html" as macros %}
{% import "transaction_form_macros.html" as tf_macros %}
<form method="post" id="form-main" x-data='transactionForm({{ transaction_config | tojson | safe }})'>
  {{ form.csrf_token }}
  {{ tf_macros.transaction_form_header("Nueva Entrada de Almacén") }}
  <div class="ca-card">
    <div class="row g-3 p-3">
      <div class="col-md-6">
        <div class="mb-3">{{ form.purpose.label(class="form-label") }}{{ form.purpose(class="form-select") }}</div>
        <div class="mb-3">{{ form.company.label(class="form-label") }}{{ form.company(class="form-select") }}</div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">{{ form.from_warehouse.label(class="form-label") }}{{ form.from_warehouse(class="form-select") }}</div>
        <div class="mb-3">{{ form.to_warehouse.label(class="form-label") }}{{ form.to_warehouse(class="form-select") }}</div>
      </div>
    </div>
  </div>
  {{ tf_macros.transaction_grid(items_disponibles, uoms_disponibles) }}
</form>
{% endblock %}
