{% extends "base.html" %}
{% block contenido %}
{% import "macros.html" as macros %}
{% import "detail_view_macros.html" as dv_macros %}
{% if TESTING %}<div data-test_info="La Plantilla fue renderizada correctamente: cacao_accounting/ventas/templates/ventas/entrega.html"></div>{% endif %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb lh-sm">
    <li class="breadcrumb-item"><a href="{{ url_for('cacao_app.pagina_inicio') }}" class="link-dark"><i class="bi bi-house"></i> Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('ventas.ventas_') }}" class="link-dark">Ventas</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ registro.document_no or registro.id }}</li>
  </ol>
</nav>
{% set buttons %}
      {{ macros.workflow_buttons(
            registro.docstatus,
            url_for('ventas.ventas_entrega_submit', note_id=registro.id),
            url_for('ventas.ventas_entrega_cancel', note_id=registro.id)) }}
      {% if registro.docstatus == 1 %}
        {{ macros.crear_dropdown([
              ("Factura de Venta", url_for('ventas.ventas_factura_venta_nuevo', from_note=registro.id))
           ]) }}
      {% endif %}
{% endset %}
{{ dv_macros.detail_header("Nota de Entrega", registro.docstatus, buttons) }}
{{ dv_macros.detail_kv_list([
    (_('Número'), registro.document_no),
    (_('Cliente'), registro.customer_name),
    (_('Fecha'), registro.posting_date),
    (_('Total'), registro.grand_total),
    (_('Observaciones'), registro.remarks)
]) }}
{{ macros.lineas_tabla_lectura(items) }}
{{ macros.document_flow_trace("delivery_note", registro) }}
{% endblock %}
