{% extends "base.html" %}
{% block contenido %}
{% import "macros.html" as macros %}
{% import "transaction_form_macros.html" as tf_macros %}
<div data-test_info="La Plantilla fue renderizada correctamente: cacao_accounting/ventas/templates/ventas/factura_venta_nuevo.html"></div>
<form method="post" id="form-main" x-data='transactionForm({{ transaction_config | tojson | safe }})'>
  {{ form.csrf_token }}
  {{ tf_macros.transaction_form_header("Factura de Venta") }}
  <div class="ca-card">
    <div class="row g-3 p-3">
      <div class="col-md-6">
        <div class="mb-3">{{ form.customer_id.label(class="form-label") }}{{ form.customer_id(class="form-select") }}</div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">{{ form.company.label(class="form-label") }}{{ form.company(class="form-select") }}</div>
        <div class="mb-3">{{ form.posting_date.label(class="form-label") }}{{ form.posting_date(class="form-control", type="date") }}</div>
      </div>
    </div>
  </div>
  {{ tf_macros.transaction_grid(items_disponibles, uoms_disponibles) }}
</form>
{% endblock %}
